<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Wevive</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.wevive.wevivedev</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>21.8.033</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wevivedev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.wevive.wevivedev</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>Comments</key>
	<string>string Testing Testflight comments (8c5031eb98ce244fa192e5fa84ebb8a4bde518f8)</string>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<true/>
	<key>FirebaseScreenReportingEnabled</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>See your scheduled calls in the app.</string>
	<key>NSCameraUsageDescription</key>
	<string>Send photos and videos to your contacts.</string>
	<key>NSContactsUsageDescription</key>
	<string>Upload phone numbers of your contacts to Wevive's servers to help you connect with your friends.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Local network is used for establishing Peer-to-Peer connections.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow to chat to Wevive users near you. Your location is uploaded to the server if this feature is enabled.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used for audio calls and audio messages.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app would like to save images to your device.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Send photos and videos to your contacts.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>org.jitsi.JitsiMeet.ios.conference</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>wevive.ttf</string>
		<string>SFProDisplay-Regular.ttf</string>
		<string>SFProDisplay-Semibold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
